body 
{
    	font: 100% Verdana, Arial, Helvetica, sans-serif;
    	background: #fff;
    	/*height: 850px;*/
		margin: 0; /* Es empfiehlt sich, margin (Rand) und padding (Auffüllung) des Body-Elements auf 0 einzustellen, um unterschiedlichen Browser-Standardeinstellungen Rechnung zu tragen. */
    	padding: 0;
    	text-align: left; /* Hierdurch wird der Container in IE 5*-Browsern zentriert. Dem Text wird dann im #container-Selektor die Standardausrichtung left (links) zugewiesen. */
    	color: #0000000;
		font-size:12px;
}
    
    
body.admin
{
	background-color: #FFF;
}


	
	p {
		font-size:10px;
		margin:0px;
		padding:0px;
		border:0px solid;
		}

	.p10 {
		font-size:10px;
		margin:0px;
		padding:0px;
		border:0px solid;
		}
		
	.p12 {
		font-size:12px;
		margin:0px;
		padding:0px;
		border:0px solid;
		}

	p.liste
	{
		font-size:10px;
		margin:1px;
		padding:0px;
		border:0px solid;
	
	}
	h1 {
		font-size:20px;
		font-weight:bold;
		margin:4px;

		}

	h3 {
		font-size:14px;
		font-weight:bold;
		margin:4px;

		}
		
    .basic #container 
    {
     	width: 100%;  /* Mit einer Breite, die 20 Pixel unter der vollen Breite von 800 Pixel liegt, können Sie dem Browser-Chrome Rechnung tragen und gleichzeitig eine horizontale Bildlaufleiste vermeiden. */
    	background: #0FFFFF;
    	margin: 0 auto; /* Durch automatische Ränder (in Verbindung mit einer Breite) wird die Seite zentriert. */
    	border: 0px solid #000000;
    	text-align: left; /* Hierdurch wird die Einstellung text-align: center im Body-Element überschrieben. */
  		height: 1700px;
    }
    
    .basic #mainContent {
    	padding: 0px; /* padding (Auffüllung) bezeichnet den Innenabstand und margin (Rand) den Außenabstand der div -Box. */
    	
	}
		.Stil3 {font-size: 100%}
		.Stil4 {font-size: 10%}
	
	.basic #admin 
    {
     	width: 100%;  /* Mit einer Breite, die 20 Pixel unter der vollen Breite von 800 Pixel liegt, können Sie dem Browser-Chrome Rechnung tragen und gleichzeitig eine horizontale Bildlaufleiste vermeiden. */
    	background: #FFFFFF;
    	margin: 20 auto; /* Durch automatische Ränder (in Verbindung mit einer Breite) wird die Seite zentriert. */
    	border: 0px solid #000000;
    	text-align: left; /* Hierdurch wird die Einstellung text-align: center im Body-Element überschrieben. */
  		height: 600px;
    }

	    .basic #adminContent 
	    {
	    position:absolute;
	    left:10px;
	    top:0px;
    	padding: 0px; /* padding (Auffüllung) bezeichnet den Innenabstand und margin (Rand) den Außenabstand der div -Box. */
    	margin:0px;
    	height: 600px;
	}

		
	table {
		font-size:12px;
		color:#FF0000;
		margin:1px;
		color:black;
		}



.registerwahlabschnitt
{
	position:absolute; 
	top:80px;
	left: 500px;
	width:700px; 
	height:100px;
    /*z-index:1; */
	/*background-color:#faa; */

}

.audioabschnitt
{
	position:absolute; 
	left:510px;
	top:170px;
	width:560px;
	height:320px;
	background-color:#abf; 
	border:1px solid #abf;
	border-color:#abc;

}

.tabelleabschnitt
{
	position:relative; 
	left:80px;
	top:10px;
	width:960px;
	min-height: 100px;
	height:auto;
	background-color:#abf; 
	border:1px solid #abf;
	border-color:#abc;
	
}

.archivselectabschnitt
{
	position:relative; 
	left:30px;
	top:0px;
	bottom:20px;
	width:1100px;
	margin-bottom:5px;
	min-height:30px;
	height:auto;
	/*background-color:#abf; */
	border:1px solid #abf;
	border-color:#abc;
	
}
.filterabschnitt
{
	position:relative; 
	left:0px;
	top:0px;
	right:5px;
	bottom:5px;
	margin:5px;
	width:auto;
	height:190px;
	
	overflow: scroll;
	
	/*background-color:#abf; */
	border:0px solid #abf;
	border-color:#abc;
	
}


.archivtabelleabschnitt
{
	position:relative; 
	left:30px;
	top:0px;
	/*bottom:20px;*/
	width:1100px;
	min-height: 100px;
	height:auto;
	/*background-color:#abf;*/ 
	border:1px solid #abf;
	border-color:#abc;
	overflow:scroll;
}



h2.menutitel
 {
	font-size:20px;
	font-weight:bold;
	color: blue;
	margin-top:12px;
	margin-bottom:30px;
	margin-left:10px;
	
}

h1.titel
 {
	font-size:22px;
	font-weight:bold;
	color: blue;
	margin-top:12px;
	margin-bottom:8px;
	margin-left:20px;
	
}


h2.eventtitel
 {
	font-size:18px;
	font-weight:bold;
	color: blue;
	margin-top:0px;
	margin-bottom:12px;
	margin-left:8px;
	
}

h2.archivtitel
 {
	font-size:28px;
	font-weight:bold;
	color: blue;
	margin-top:10px;
	margin-bottom:4px;
	margin-left:30px;
	
}


h2.suchtitel
 {
	font-size:20px;
	font-weight:normal;
	color: blue;
	margin-top:4px;
	margin-bottom:4px;
	margin-left:30px;
	
}


h2.stuecktitel
 {
	font-size:18px;
	font-weight:bold;
	color: blue;
	margin-top:4px;
	margin-bottom:4px;
	margin-left:20px;
	
}



h2.audiotitel
 {
 	
	font-size:18px;
	font-weight:bold;
	color: blue;
	margin:30px;
	margin-left:20px;
	padding:1px;
	
}

h3.untertitel
 {
	font-size:14pt;
	font-weight:normal;
	color: blue;
	margin:10px;
	margin-left:20px;
	padding:1px;
	line-height:1.5;
	
}


h3.erklaerung
 {
	font-size:10pt;
	font-weight:normal;
	color: blue;
	margin:10px;
	margin-left:10px;
	padding:1px;
	line-height:1.5;
	
}

h3.auswahlerklaerung
 {
	font-size:12pt;
	font-weight:normal;
	color: blue;
	margin:0px;
	margin-left:10px;
	padding:1px;
	line-height:1.5;
	
}
h3.playererklaerung
 {
	font-size:12pt;
	font-weight:normal;
	color: #007439;
	margin:0px;
	margin-left:10px;
	padding:1px;
	line-height:1.0;
	
}



h3.link
 {
 	
	font-size:12pt;
	font-weight:normal;
	color: yellow;
	margin:10px;
	margin-left:30px;
	padding:1px;
	line-height:1.0;
	
}

h2.selectuntertitel
 {
	font-size:16pt;
	font-weight:normal;
	color: blue;
	margin-top: 10px;
	margin-left:20px;
	
	padding:1px;
	line-height:1.0;
	
}

h3.archivuntertitel
 {
	font-size:14pt;
	font-weight:normal;
	color: blue;
	margin-top: 20px;
	margin-left:30px;
	padding:1px;
	line-height:1.0;
	
}

h3.auswahluntertitel
 {
	font-size:12pt;
	font-weight:normal;
	color: blue;
	margin-top: 4px;
	margin-left:20px;
	padding:1px;
	line-height:1.0;
	
}

{}



{;}

.fileabschnitt
{
	/*border:1px solid #f00;*/
	position:absolute; 
	left:30px;
	top:170px;
	width:440px;
	height:auto;
	background-color:#bdf; 
}

.stueckabschnitt
{
	/*border:1px solid #888;*/
	position:relative; 
	padding-top:8px;
	padding-bottom:8px;
	padding-left:4px;
	margin:12px;
	
	/*width:180px;*/
	width:380px;
	min-height:100px;
	/*height:40px;*/ /* 50px*/
	background-color:#bdf; 
	overflow:hidden;
}

.stuecktitelabschnitt
{
	/*border:1px solid #fff;*/
	position:absolute; 
	left:10px;
	top:8px;
	width:120px;
	height:auto;
	/*background-color:#d0f; */
}

.satzabschnitt
{
	/*border:4px solid #fff;*/
	position:absolute; 
	left:180px;
	top:28px;
	width:180px;
	height:auto;
	background-color:#ffe; 
}

.satztitelabschnitt
{
	/*border:1px solid #888;*/
	margin:4px;
	position:relative; 
	left:160px;
	width:200px;
	height:auto;
	background-color:#acf; 
}



.mixabschnitt
{
	position:absolute; 
	/*left:240px;*/
	right:0px;
	top:0px;
	
	
	height:55px;
	/*background-color:#def; */
}



.eventabschnitt
{
	/*border:1px solid #888;*/
	position:relative; 
	left:0px;
	top:0px;
	margin:8px;
	width:420px;
	min-height:100px;
	overflow:hidden;
	background-color:#cef; 
}

/*
.verzeichnisabschnitt
{
	position:absolute; 
	left:30px;
	top:50px;
	width:900px;
	height:230px;
	background-color:#0ff; 
}
*/


.stimmeabschnitt
{
	position:relative; 
	padding-top:2px;
	padding-bottom:8px;
	padding-left:10px;
	margin:20px;
	left:0px;
	top:0px;
	width:510px;
	height:70px; /* 50px*/
	
}

.headerabschnitt
{
	/*border:4px solid #fff;*/
	
	position:relative; 
	bottom:0px;
	top:2px;
	width:auto;
	height:20px;
	
}


.tasteabschnitt
{
	/*border:4px solid #fff;*/
	
	position:absolute; 
	bottom:0px;
	top:-2px;
	right:8px;
	width:auto;
	height:20px;
	
}



p.satztitel
	 {
		font-size:16px;
		font-weight:bold;
		color: blue;
		margin:1px;
		padding:2px;
	}


p.stimmetitel
	 {
		font-size:12px;
		font-weight:bold;
		color: blue;
		margin:1px;
		padding:2px;
	}
	



/*  */


ul.satz-nav
{
	margin:0px;
	padding:0px;
	list-style:none;
	line-height:30px;
	/*background:#3a00f6;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float:left;
	width:150px;
}

ul.satz-nav  a
{
	padding:1px;
	margin:2px;
	width:60px;
	height:130px;
	font-size: 12px;
	float:left;
	text-align:center;
	text-decoration:none;
	border-bottom:1px solid #fff;
	border-color:#abc;
	display:inline;
}

li.satz-nav a
{
	background:#f00;
	color:#044;
}


ul.satz-nav  a:hover 
{
	background:#a2aafa;
	color:#2d563c;
}


/*  */
ul.stueck-nav
{
	margin:0px;
	padding:0px;
	list-style:none;
	line-height:30px;
	/*background:#3a00f6;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float:left;
	width:140px;
}

ul.stueck-nav  a
{
	padding:1px;
	margin:2px;
	
	width:60px;
	height:28px;
	font-size: 20px;
	background:#3aacf6;
	color:#f3f3fa;
	float:left;
	text-align:center;
	text-decoration:none;
	border-bottom:0px solid #fff;
	border-color:#abc;
	display:inline;
}

li.stueck-nav a
{

	background:#f00;
	color:#044;
}


ul.stueck-nav  a:hover 
{
	background:#a2aafa;
	color:#2d563c;
}

ul.register-nav
{
	margin:0px;
	padding:0px;
	list-style:none;
	line-height:40px;
	/*background:#3a00f6;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float:left;
	width:580px;

}

ul.register-nav  a
{
	padding:1px;
	margin-left:0px;
	margin-right:12px;
	width:100px;
	height:40px;
	font-size: 24px;
	background:#3aacf6;
	color:#f3f3fa;
	float:left;
	text-align:center;
	text-decoration:none;
	border-bottom:1px solid #fff;
	border-color:#abc;
	display:inline;
}


li.register-nav a
{
	background:#ff0;
	color:#044;
	
}


ul.register-nav  a:hover 
{
	background:#a2aafa;
	color:#2d563c;
}

/*
ul.main-nav
{
	margin:2px;
	padding-left:16px;
	list-style:none;
	line-height:28px;
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 18px;
	float:left;
}

ul.main-nav  a
{
	padding:1px;
	margin:4px;
	width:180px;
	background:#3aacf6;
	color:#f3f3fa;
	float:left;
	text-align:center;
	text-decoration:none;
	border-bottom:1px solid #fff;
	border-color:#abc;

}
*/
ul.li
{
	display:block;
}

ul.main-nav li a:hover 
{
	background:#b2a2f4;
	color:#1d462b;
}



	

	p {
		font-size:12;
		margin:10px;
		padding:5px;
		border:0px solid;
		}
		
	b {
		font-size:10;
		margin:0px;
		padding:0px;
		border:0px solid;
		}
		
	
	h1 {
		font-size:48;
		font-weight:bold;
		margin-top:5px;
		padding-top: 20px;;
		}
		
	h2 {
		font-size:16;
		font-weight:bold;
		margin-top:20px;
		}

		
	table 
	{
		font-size:12px;
		color:#000000;
		margin:0px;

	}
	

a:link 
{
	color:yellow;
	text-decoration:none;
}    /* unvisited link */

a:visited 
{ 
text-decoration:none; color:gray; 

}

a:hover 
{
	color:#00ff00;
	text-decoration:none;
}    /* unvisited link */



table.archivtable
{
	width:95%;
	border:1px solid blue;
	border:none;
	cell-spacing:0px; 
	border-collapse:collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    margin-left:20px;
    margin-right:20px;
 }
 

 
 th
{
	border:1px solid #007F16; 
	font-style: normal;
	overflow:hidden;
	font-weight: bold;
	font-size: 14px;
	font-style: bold;
	height:12px;
	text-align:left;
}

th.text
 {
 
 	color:#007F16;
	font-size: 14px;
	font-variant: normal;
	margin-top: 2px;
	padding-left:4px;
	text-align:left;
 }
 

td.archivtd
{ 
	border:1px solid lightgray; 
	font-size: 12px;
	font-variant: normal;
	margin: 0px;
	padding-left:8px;
	text-align:left;

	/*border:1px solid red; */
	vertical-align:central; 
	overflow:hidden;
}
td.text
{ 
	font-size: 12px;
	font-variant: normal;
	text-align:left;
	padding-left:6px;
	/*border:1px solid red; */
	vertical-align:central; 
	overflow:hidden;
}

td.text_right
{ 
	font-size: 12px;
	font-variant: normal;
	margin-right: 10px;
	padding-right:10px;
	text-align:right;

	/*border:1px solid red; */
	vertical-align:central; 
	overflow:hidden;
}

td.text_center
{ 
	font-size: 12px;
	font-variant: normal;
	margin: 1px;
	padding-left:4px;
	text-align:center;

	/*border:1px solid red; */
	vertical-align:central; 
	overflow:hidden;
}


table.markertabelle
{
margin-left :128px;
width:302px;*/
}

 th.marker
 {
 /*border-left:1px solid red;
 border-right:1px solid red;*/
 border:0px solid red;
 width:9%;
 text-align:center;
 font-size:4pt;
 color:blue;
 }
 
  td.markerindex
 {
 /*border-left:1px solid red;
 border-right:1px solid red;*/
 width:9%;
 text-align:center;
 font-size:8pt;
 color:blue;
 }


.{}

.kopfabschnitt
{
	position:absolute; 
	left:20px;
	right:10px;
	top:210px;
	height: 100px;
	width : 400px;
	background-color:#def; 
}

.adminabschnitt
{
	position:absolute; 
	left:20px;*/
	right:0px;
	top:50px;
	width : 400px;
	background-color:#def; 
}

.listeabschnitt
{
	position:absolute; 
	left:20px;*/
	right:0px;
	top:250px;
	width : 1000px;
	background-color:#aef; 
}

.besucherabschnitt
{
	position:absolute; 
	left:20px;*/
	right:0px;
	top:150px;
	width : 1000px;
	background-color:#bef; 
	height: 400px;
	overflow:scroll;
}


.besucherlisteabschnitt
{
	position:relative; 
	left:20px;*/
	right:0px;
	top:20px;
	width : 900px;
	height:auto;
	background-color:#bcf; 
	
}
